<div>
    <form>
        <div>
            Imie:
            <input ng-model="imie" />
        </div>
        <div>
            Nazwisko:
            <input ng-model="nazwisko" />
        </div>
        <div>
            Wiek:
            <input ng-model="wiek" />
        </div>
        <div>
            Poziom kol.:
            <input ng-model="poziomKolezenskosci" />
        </div>
        <div>
            Kolor majtek:
            <input ng-model="kolorMajtek" />
        </div>
        <input type="button" value="Dodaj" ng-click="dodaj()"/>
    </form>
</div>
