<div>
    <h1>Koledzy:</h1>
    <table>
        <tr ng-repeat="kolega in koledzy track by kolega.id">
            <td>
                Imie: {{kolega.imie}}
            </td>
            <td>
                Nazwisko: {{kolega.nazwisko}}
            </td>
            <td>
                Wiek: {{kolega.wiek}}
            </td>
            <td>
                Poziom kolezenskoski: {{kolega.poziomKolezenskoski}}
            </td>
            <td>
                Kolor majtek: {{kolega.kolorMajtek}}
            </td>
        </tr>
    </table>
</div>
